/*Página Home*/
//Header
$header--backgroundColor: #000000;
$header__menu--fontColor: #FFFEFE;
$header__menu__buscador--color: #E4E4E4;

//Main
$main--backgroundColor: #DEDEDE;
$main__produto--backgroundColor: #FFFFFF;
$main__produto__text--color:#FFFFFF;
$main__produto__text--masculino--backgroundColor:#3A3A3A;
$main__produto__text--feminino--backgroundColor:#853C3C;
$main__produto__text--infantil--backgroundColor:#887492;

//Footer
$footer--backgroundColor: #000000;
