@import "styles/_variaveis.scss";

/*Header*/
.header{
    background-color: $header--backgroundColor;
    color: $header__menu--fontColor;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cabecalho__menu{
    align-items: center;
    display: flex;
    flex-direction: column;
}
//Buscador
.cabecalho__links--pesquisa{
    align-items: center;
    background-color: $header__menu__buscador--color;
    padding: 0.5rem 0rem 0.5rem 1rem;
    display: flex;
    flex-wrap: nowrap;
}
.cabecalho__pesquisa {
    background-color: $header__menu__buscador--color;
    border-style: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}